#board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 4px;
  max-width: 550px;
}

.cell {
  border: 1px solid #333;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.header {
  background-color: #f2f2f2;
  font-weight: bold;
}

.square {
  border: 1px solid #333;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
